<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

<!--
   This are the dialogs that extend the InstallDir dialog suite:
   - SelectScopeDlg: let the user select a per user or a per machine installation 
     It sets the property ASSISTANCE_USERS either to "cur" or "all"
     On "Next": set the ALLUSERS property according to ASSISTANCE_USERS
     On "Back": set the ALLUSERS property to the default value {} (per user)
     On "Cancel": terminates installation
   - ErrorNSISVersionDlg: show error message that a NSIS installation was found in the selected install scope

-->
 <?include lifutils.wxi ?>
    <Fragment>
        <UI Id="SelectScopeUI">
            <Dialog Id="SelectScopeDlg" Width="370" Height="270" Title="Select Installation mode" >
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallScopeDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="373" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="373" Height="0" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="Choose whether you want an installation for the current user or for all users (this requires administrative privileges)." />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallScopeDlgTitle)" />
               <Control Id = "UserSelectInstallMode" Type="RadioButtonGroup" X= "26" Y = "115" Width= "305" Height = "120" Property = "ASSISTANCE_USERS" >
                  <RadioButtonGroup Property="ASSISTANCE_USERS">
                  <RadioButton Value="cur" X="16" Y="21" Width="292" Height="11" Text="Only for me ([LogonUser])" /> 
                  <RadioButton Value="all" X="16" Y="40" Width="292" Height="11" Text="Everybody (all users)" />
                  </RadioButtonGroup>
               </Control>
               <Control Id="InstallScopeBack" Type="PushButton" X="180" Y="243" Width="56" Height="17" Default="yes" Text="Back">
                  <Publish Property="ALLUSERS" Value="{}" Condition="ASSISTANCE_USERS = &quot;all&quot;"/>
                  <Publish Property="ALLUSERS" Value="{}" Condition="ASSISTANCE_USERS = &quot;cur&quot;"/>
               </Control>
               <Control Id="InstallScopeNext" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
                  <Publish Property="ALLUSERS" Value="{}" Condition="ASSISTANCE_USERS = &quot;cur&quot;"/>
                  <Publish Property="ALLUSERS" Value="1" Condition="ASSISTANCE_USERS = &quot;all&quot;"/>
               </Control>
               <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>
            </Dialog>
        </UI>
    </Fragment>
    <Fragment>
        <UI Id="ErrorNsisVersionUI">
            <Dialog Id="ErrorNSISVersionDlg" Title="!(loc.ErrorDlg_Title)" Width="270" Height="100"  >
            <Control Id="ErrorText" Type="Text" X="48" Y="15" Width="205" Height="120" TabSkip="no" NoPrefix="yes" Text="A previous version (&lt; 2.0.1) of $(var.InstallName) was found which is incompatible with this installer. Please uninstall the previous version first." />
            <Control Id="Cancel" Type="PushButton" X="100" Y="80" Width="56" Height="17" Cancel="yes" Text="Cancel">
                 <Publish Event="SpawnDialog" Value="CancelDlg" />
            </Control>
            </Dialog>
        </UI>
    </Fragment>
    <Fragment>
        <UI Id="ErrorAlreadyInstalledUI">
            <Dialog Id="ErrorAlreadyInstalledDlg" Title="!(loc.ErrorDlg_Title)" Width="270" Height="100"  >
            <Control Id="ErrorText" Type="Text" X="48" Y="15" Width="205" Height="120" TabSkip="no" NoPrefix="yes" Text="$(var.InstallName) $(env.Version) is already installed. Please uninstall the previous version first, if you would like to reinstall." />
            <Control Id="Cancel" Type="PushButton" X="100" Y="80" Width="56" Height="17" Cancel="yes" Text="Cancel">
                 <Publish Event="SpawnDialog" Value="CancelDlg" />
            </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
