/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.h
/libtool
/ltmain.sh
/m4/
/stamp-h?
/COPYING
Makefile
Makefile.in
/debian/lifutils*
/debian/lifutils/
/debian/stamp*
/debian/files
*.o
/src/lib/liblifutils.a
/src/progs/barprt
/src/progs/barps
/src/progs/comp41
/src/progs/decomp41
/src/progs/in71
/src/progs/inp41
/src/progs/key41
/src/progs/lifdir
/src/progs/lifdump
/src/progs/liffix
/src/progs/lifget
/src/progs/lifilper
/src/progs/lifimage
/src/progs/lifinit
/src/progs/liflabel
/src/progs/lifmod
/src/progs/lifpack
/src/progs/lifpurge
/src/progs/lifput
/src/progs/lifraw
/src/progs/lifrename
/src/progs/lifstat
/src/progs/liftext
/src/progs/out71
/src/progs/outp41
/src/progs/prog41bar
/src/progs/raw41lif
/src/progs/regs41
/src/progs/rom41
/src/progs/rom41cat
/src/progs/rom41hx
/src/progs/sdata
/src/progs/sdatabar
/src/progs/stat41
/src/progs/text75
/src/progs/textlif
/src/progs/wall41
/src/progs/wcat41
/test/
.deps/
.dirstamp
.libs/
*.l[ao]
*~
